[submodule "external/plugify"]
	path = external/plugify
	url = https://github.com/untrustedmodders/plugify.git
[submodule "external/sourcesdk"]
	path = external/sourcesdk
	url = https://github.com/Wend4r/sourcesdk.git
[submodule "external/dynlibutils"]
	path = external/dynlibutils
	url = https://github.com/Wend4r/cpp-dynlibutils.git
